#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

button {
  margin-right: 5px;
}

input {
  width: 40px;
  padding: 5px;
  margin-bottom: 2px;
}

.distribution {
  height: 20px;
  width: 300px;
  margin: 2px 0 0 6px;
  background-color: green;
  display: inline-block;
}

.pointer {
  cursor: pointer;
}

.mr-neg-10 {
  margin-right: -10px !important;
}

.no-padding-r-l {
  padding-right: 0;
  padding-left: 0;
}

.width-50 {
  width: 50px !important;
}
